/*=================UNIVERSALS=============*/
.pull-left{
    float: left;
}

.pull-right{
    float: right;
}
================BODY==================*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*===================HEADER==================*/
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 135px;
    background-color: #222;
    border-bottom: 4px solid #111;
}

header>span{
    margin: 45px 30px;
    color: #fff;
}

#drop-nav{
    margin: 65px 50px 0;
    color: #fff;
}

#drop-nav:hover #drop-down{
    display: block;
}

#drop-down{
    margin: 0 40px;
    padding: 0;
    list-style: none;
    clear: right;
    background-color: #fff;
    display: none;
}

#drop-down>li{
    padding: 15px;
    border: 2px solid #111;
}

#drop-down>li>a{
    text-decoration: none;
    color: #000;
}
/*===============HERO====================*/
#hero{
    width:100%;
    height: 875px;
    background-color: #000;
    text-align: center;
    border-top: 4px solid #111;
}

#hero>h2{
    font-size: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 750px;
    color: #ccc;
    opacity: .3;
}

#hero>video{
    min-width: cover;
    max-width: 100%;
    max-height: 815px;
    min-height: 815px;
}
/*===============ASIDES====================*/
#left-aside{
    display: inline-block;
    height: 700px;
    width: 24.3%;
    background-color: #9c0a10;
    border-right: 4px solid #111;
    text-align: center
}

#left-aside>h2{
    margin-top: 35px;
}

#left-aside>h2>a{
    color: #111;    
}

#events-list{
    list-style-type: none;
    margin-right: 35px;
}

#events-list>li{
    width: 100%;
    border-bottom: 4px solid  #111;
}

#events-list>li>h4>a{
    color: #111;
    text-decoration: none;
}

#right-aside{
    margin: 0;
    padding: 0;
    height: 700px;
    width: 24.3%;
    text-align: center;
    background-color: #9c0a10;
    border-left: 4px solid #111;
}

#right-aside>h2{
    margin-top: 35px;
    text-decoration: underline;
}
/*===============MAIN====================*/
main{
    display:inline-block;
    margin: 0;
    height: 600px;
    width: 50%;
    clear: both;
    text-align: center;
}

#about-button{
    margin: 45px;
    background-color: #9c0a10;
    border-radius: 10px;
    height: 50px;
    font-size: 12px;
    text-decoration: bold;
    color: #fff;
}
/*=============FOOTER=================*/
footer{
    height: 200px;
    width: 100%;
    background-color: #222;
    clear: both;
}

#social-media{
    position: relative;
    top: 150px;
    right: 10px;
}

#social-media>a{
    text-decoration: none;
    color: #9c0a10;
}

#copyright{
    font-size: 12px;
    color: #9c0a10;
    position: relative;
    top: 170px;
    left: 10px;
}